<table class="table table-hover">
      
      <thead>
         <tr>
            <th style="width:5%">
                  <input type="checkbox" id="check_all">
            </th>
            {foreach from=$columns.columns item=item}
                {if $item.lable}
                    <th>
                        {$item.lable}
                    </th>
                {/if}
            {/foreach}
            
            {foreach from=$appendColumns item=aitem}
                <th>
                    {$aitem.column}
                </th>
            {/foreach}
         </tr>
      </thead>
      <tbody>
        {foreach from=$data item=item key=key}
         <tr>
                <td>
                      <input type="checkbox" class="j_grid_check" name="pk[{$item[$pk]}]" value="{$item[$pk]}">
                </td>
                {foreach from=$columns.columns item=iitem key=colkey}
                    {if $iitem.lable}
                        {if $iitem.type == 'time'}
                            <td {if $iitem.pk}pk={$colkey}  value={$item[$colkey]}{/if}>{$item[$colkey]|date}
                            </td>
                        {elseif is_array($iitem.type)}
                            {assign var=tmp  value=$item[$colkey]}
                            <td {if $iitem.pk}pk={$colkey} value={$item[$colkey]}{/if}>
                                {$iitem.type[$tmp]}
                            </td>
                        {else}
                            <td {if $iitem.pk}pk={$colkey}  value={$item[$colkey]}{/if}>{$item[$colkey]}
                            </td>
                        {/if}
                        
                    {/if}
              {/foreach}
              {foreach from=$appendColumns item=aitem}
                    <td>
                        <a  class="j_appendLink appendLink" target="{$aitem.target}" shref="{$aitem.href}">{$aitem.lable}</a>
                    </td>
                {/foreach}
         </tr>
        {/foreach}
        
      </tbody>
</table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true"  data-target="#j_model_btn">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                
            </h4>
         </div>
         <div class="modal-body" id="myModal-body">
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">
               关闭
            </button>
            <button type="button" id="j_model_btn" class="j_model_btn btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script src="{$__static_url}/common/js/jquery.self.validate.js"></script>
<script>
        //分页相关js
        //总页数
        var $pages = "{$pages}";
        //分页html元素 li
        var $pageLi = $("<li><a href='#'></a></li>");
        //分页html元素块
        var $pageUl = $('#pagination');
        
        var leftPage = $("<li><a href='#'>&laquo;</a></li>");
        var rightPage = $("<li><a href='#'>&raquo;</a></li>");
        $pageUl.empty();
        $pageUl.append(leftPage);
        for(var i=1;i<=$pages;i++){
            var $liClone = $pageLi.clone();
            $liClone.find('a').text(i);
            $liClone.attr('pageno',i);
            $pageUl.append($liClone);
            
            $liClone.click(function(e){
                goPage($(this).attr('pageno'));
            });
            
        }
        $pageUl.append(rightPage);
        
        
        //finder头部按钮点击事件
        $('.j_actions').click(function(e){
          var postData = $('.j_grid_check').serialize();
          var href = $(e.target).attr('shref');

          var target = $(e.target).attr('target');

          if(target == "_blank"){
              window.open(href);
              return;
          }else if(target == "dialog"){
                $.post(href,postData,
                function(rs){
                    $('#myModal-body').empty().html(rs);
                },'html');
                 $('#myModal').modal({
                    keyboard: false,
                    backdrop:'static'
                });
          }else if(target == "submit"){
                if(postData){
                    $.post(href,postData,
                    function(rs){
                        if(rs.code == '00'){
                            goPage(globalPage);
                        }else{

                        }
                       
                    },'json');
                }
          }
            
        });

        //编辑列按钮点击事件 弹出模态框
        $('.j_appendLink').click(function(e){
            var td = $(e.target).parents('tr').find('td[pk]');
            
            var pk = td.attr('pk');
            var val = td.attr('value');
//          console.log(val);return;
          var postData = 'filterCol='+pk+'&filterValue='+val+'&ajaxPage=1';
          var href = $(e.target).attr('shref')+'?'+pk+'='+val;

          var target = $(e.target).attr('target');
          if(target == "_blank"){
              window.open(href);
              return;
          }else if(target == "dialog"){
                $.post(href,postData,
                function(rs){
                    $('#myModal-body').empty().html(rs);
                    $('#myModal').modal({
                    keyboard: false,
                    backdrop:'static'
                    });
                },'html');
          }
            
        });

        //弹出框提交按钮点击事件
        $('.j_model_btn').click(function(e){
            var form = $('#myModal-body').find('form');
            if(form.svalidate() == false){
                return false;
            }else{
                var href = $(form).attr('action');
                $.post(href,$(form).serialize(),
                function(rs){
                    console.log(rs);
                    if(rs.code == '00'){
                        $("#alert-danger").hide();
                        $("#alert-success").text('succ').show();
                        
                        $('#myModal').modal('hide');

                       // goPage(globalPage);

                    }else{
                        $("#alert-danger").text('errorcode:'+rs.code).show();
                        $("#alert-success").hide();
                        
                    }


                },'json');
            }
            
        });


        $('#check_all').click(function(e){
             var check_state = $(e.target).is(':checked');
             
             $('.j_grid_check').each(function(i,o){
                    $(o).prop('checked',check_state);
             });
        });
        
    //模态框关闭时 刷新数据区域
    $('#myModal').on('hidden.bs.modal',function(e){
        //console.log(o);
        goPage(globalPage);
    });
</script>