<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <!--  为了让 IE 浏览器运行最新的渲染模式下 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--  可以让部分国产浏览器默认采用高速模式渲染页面 -->
        <meta name="renderer" content="webkit">
        <!-- 移动设备优先  user-scalable禁用缩放功能 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Ecsuper</title>
        <!-- Bootstrap -->
        <link href="{$__static_url}/site/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        
        
    </head>
    
    <body>
        
        <!-- div class="container">
          ....container 类用于固定宽度并支持响应式布局的容器。
        </div>

        <div class="container-fluid">
          ....container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器。
        </div -->

<div>

    <nav class="navbar navbar-inverse" role="navigation">
       <div class="navbar-header">
          <a class="navbar-brand" href="#">Ecsuper</a>
       </div>
        <div class="navbar-header pull-right">
          <a class="navbar-brand" href="#">注销</a>
       </div>
       <div>
          <ul class="nav navbar-nav">
             <li class="active"><a href="#">iOS</a></li>
             <li><a href="#">SVN</a></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   Java <b class="caret"></b>
                </a>
                <ul class="dropdown-menu ">
                   <li><a href="#">jmeter</a></li>
                   <li><a href="#">EJB</a></li>
                   <li><a href="#">Jasper Report</a></li>
                   <li class="divider"></li>
                   <li><a href="#">分离的链接</a></li>
                   <li class="divider"></li>
                   <li><a href="#">另一个分离的链接</a></li>
                </ul>
             </li>
             <li><a href="#">SVN</a></li>
             <li><a href="#">SVN</a></li>
             <li><a href="#">SVN</a></li>
            
          </ul>
       </div>
</nav>





<div class="table-responsive">
   <table class="table">
      <caption>响应式表格布局</caption>
      <thead>
         <tr>
            <th>产品</th>
            <th>付款日期</th>
            <th>状态</th>
         </tr>
      </thead>
      <tbody>
         <tr class="success">
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>待发货</td>
         </tr>
         <tr>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>发货中</td>
         </tr>
         <tr>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>待确认</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
         <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
         </tr>
      </tbody>
   </table>
</div>  	

</div>

<ul class="pagination pull-right">
  <li><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li class="disabled"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>


       
        <!--/.fluid-container-->
        <script src="{$__static_url}/common/js/jquery-1.11.2.js"></script>
        <script src="{$__static_url}/site/bootstrap/js/bootstrap.min.js"></script>
        <script>
        $(function() {
            
        });
        </script>
    </body>

</html>