<!DOCTYPE html>
<html>
    
    {dream_include file="Site/View/Admin/Block/header.html" app="Site"}
    
<body>

<div>

{if !$singlePage}
<nav class="navbar navbar-inverse" role="navigation">
    {dream_include file="Site/View/Admin/Block/nav.html" app="Site"}
</nav>
{/if}
<div class="table-responsive" >
	  <div>
	  	<h4 class="pull-left">{$title}</h4>
	  	<div class="pull-right" style="display:table">
			<button type="button" id="btn_search" class="btn btn-default pull-right" style="margin-right:2px;margin-left:2px;">搜索</button>
			<form method="post" id="form_admin">
		  		<div class="input-group">
		           <div class="input-group-btn">
		              <button id="btn_searchTxt" type="button" class="btn btn-default 
		                 dropdown-toggle" data-toggle="dropdown">
		                 	搜索项
		                 <span class="caret"></span>
		              </button>
			              <ul class="dropdown-menu">
			              	{foreach from=$searchOptions key=key item=item}
			                 <li searchtype="{$item.search_type}" cols="{$key}" class="j_searchLi" onclick="selectFilterOptions(this)"><a href="#">{$item.lable}</a></li>
			                {/foreach}
			              </ul>
		              
		           </div><!-- /btn-group -->
		           <input type="text" id="filterValue" name="filterValue" class="form-control">
		           <input type="hidden" id="filterCol"  name="filterCol" />
		           
		        </div><!-- /input-group -->
	    	</form>
	    
	  	</div>
	  </div>

     <!-- 头部按钮-->
      {if $actions && !$singlePage}
        <div style="clear:both;padding-left:10px;">
            
  

            {foreach from=$actions item=aitem key=akey}
                
                {if $aitem.target == 'dialog'}
                    <button type="button" shref="{$aitem.href}" target={$aitem.target} class="btn btn-primary j_actions">{$aitem.title|default:$aitem.lable}</button>
                {elseif $aitem.target == 'submit'}
                    <button type="button" shref="{$aitem.href}" target={$aitem.target} class="btn btn-primary j_actions">{$aitem.title|default:$aitem.lable}</button>
                {elseif $aitem.target == '_blank' || $aitem.target == 'blank'}
                    <a type="button" shref="{$aitem.href}" target={$aitem.target} class="btn btn-primary " onclick="window.open('{$aitem.href}');">{$aitem.title|default:$aitem.lable}</a>
                {/if}

               
            {/foreach}
            
        </div>
      {/if}

	  <div id="table-responsive">
	    {dream_include file="Site/View/Admin/grid.html" app="Site"}
	  </div>

	  
</div>

</div>

<ul id="pagination" class="pagination pull-right">
  <!-- li><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li class="disabled"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">...</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li -->
</ul>

        <!--/.fluid-container-->
<div style="clear:both" class="text-center">
<button type="button" id="confirm_check" class="btn btn-primary">确认</button>
<button type="button" onclick="window.close();" class="btn btn-primary">关闭</button>
</div>
    </body>
</html>
<script>
        
        //注销账号
        $('#signout').click(function(e){
			$.post("{$__base_url}/adminDoLoginout.html",
	        function(rs){
	//            console.log(rs);
	            if(rs.succ){
	                location.href = rs.data.nextUrl;
	            }else{
	                $('#alert-danger').text(rs.error);
	                $('#alert-danger').removeClass('hide');
	            }
	            
	        },'json');
		});
		
		//分页相关js
		//总页数
		var $pages = "{$pages}";
		//分页html元素 li
		var $pageLi = $("<li><a href='#'></a></li>");
		//分页html元素块
		var $pageUl = $('#pagination');
		
		var leftPage = $("<li><a href='#'>&laquo;</a></li>");
		var rightPage = $("<li><a href='#'>&raquo;</a></li>");
		$pageUl.append(leftPage);
		for(var i=1;i<=$pages;i++){
			var $liClone = $pageLi.clone();
			$liClone.find('a').text(i);
			$liClone.attr('pageno',i);
			$pageUl.append($liClone);
			
			$liClone.click(function(e){
				goPage($(this).attr('pageno'));
			});
			
		}
		$pageUl.append(rightPage);
		
		//分页点击
		function goPage(pageno){
			var $pageno = pageno?pageno:1;
			var postData = $('#form_admin').serialize()+'&ajaxPage=1&pageno='+$pageno;
			$.post("{$curpath}",postData,
	        function(rs){
                globalPage = $pageno;
//	            console.log(rs);

	            $("#table-responsive").html(rs);
	        },'html');
//			console.log(pageLi.attr('pageno'));
		}
		
		
		
		/******* 搜索项相关js  *****/
		//搜索项默认选中第一个
		$($(".j_searchLi")[0]).click();
		$('#filterValue').bind('keypress',function(){
			//$('#btn_search').click();
			//return false;
		});
		//选择某个筛选项,触发事件
		function selectFilterOptions(obj){
			$("#btn_searchTxt").text($(obj).text());
			var $filter = $(obj).attr('cols')+'|'+$(obj).attr('searchtype');
			$('#filterCol').attr('value',$filter);
		}

		//点击搜素按钮执行搜素
		$('#btn_search').click(function(e){
			var postData = $('#form_admin').serialize()+'&ajaxPage=1';
			$.post("{$curpath}",postData,
	        function(rs){
//	            console.log(rs);
	            $("#table-responsive").html(rs);
	        },'html');
		});

        //选择时弹出 点击确认按钮 返回
		$('#confirm_check').click(function(e){
			//未完待续
		});

</script>