<!DOCTYPE html>
<html>
<head>
<title>ChinaZ</title>
        <meta charset="utf-8">
        <!--  为了让 IE 浏览器运行最新的渲染模式下 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--  可以让部分国产浏览器默认采用高速模式渲染页面 -->
        <meta name="renderer" content="webkit">
        <!-- 移动设备优先  user-scalable禁用缩放功能 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link href="{$__static_url}/site/bootstrap/css/bootstrap.min.css" rel="stylesheet" 
 media="screen">

         <link href="{$__static_url}/site/css/style.css" rel='stylesheet' type='text/css' />
         <link href="{$__static_url}/common/css/validate.css" rel='stylesheet' type='text/css' />

         <link href="{$__static_url}/common/css/chromfit.css" rel='stylesheet' type='text/css' />

</head>
<body>
	<h1></h1>
		<div class="app-location">
			<h2>Welcome to Esuper</h2>
			<div class="location"><img src="{$__static_url}/site/images/location.png" class="img-responsive" alt="" /></div>
			<form autocomplete="off" id="loginform" onsubmit="return false;">
                <div style="position:relative;">
                    <input name="username" vtype="required&&email" type="text" autocomplete="off" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
                </div>

                <div style="position:relative;">
				    <input name="password" vtype="required" type="password" autocomplete="off" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                </div>

                <!--alert-info alert-success-->
                <div id="alert-danger" class="alert alert-danger alert-dismissable hide">
                    错误！请进行一些更改。
                </div>

				<div class="submit">
                    <input type="button" onclick="goform()" value="Sign in" ></div>
				<div class="clear"></div>
				<div class="new">
					<div class="clear"></div>
				</div>
			</form>
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p>Copyright &copy; 2016.Company name All rights reserved</p>
		</div>
	<!--//end-copyright-->
    <script src="{$__static_url}/common/js/jquery-1.11.2.js"></script>
    <script src="{$__static_url}/common/js/jquery.self.validate.js"></script>
    <script src="{$__static_url}/site/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
<script>
    function goform(){
        if($("#loginform").svalidate() == false){
            return false;
        }
        $.post("{$__base_url}/adminDoLogin.html",$("#loginform").serialize(),
        function(rs){
//            console.log(rs);
            if(rs.succ){
                location.href = rs.data.nextUrl;
            }else{
                $('#alert-danger').text(rs.error);
                $('#alert-danger').removeClass('hide');
            }
            
        },'json');
    }
</script>