<!DOCTYPE html>
<html>
    
    {dream_include file="Site/View/Admin/Block/header.html" app="Site"}
    
    <body>
        
        <!-- div class="container">
          ....container 类用于固定宽度并支持响应式布局的容器。
        </div>

        <div class="container-fluid">
          ....container-fluid 类用于 100% 宽度，占据全部视口（viewport）的容器。
        </div -->

<div>

	<nav class="navbar navbar-inverse" role="navigation">
	       {* include file="View/Admin/Block/nav.html" app="Site" *}
           {dream_include file="Site/View/Admin/Block/nav.html" app="Site"}
	</nav>
	
	<div style="margin:20px auto;max-width:98%" class="panel panel-primary">
		   <div class="panel-heading">
		      <h3 class="panel-title">系统通知</h3>
		   </div>
		   <div class="panel-body">
		      <p>QQ讨论 请联系715091102</p>
              <p>FAQ    请查阅帮助手册</p>
		   </div>
		</div>
		<div style="margin:20px auto;max-width:98%" class="panel panel-success">
		   <div class="panel-heading">
		      <h3 class="panel-title">贡献者</h3>
		   </div>
		   <div class="panel-body">
		      <p>鼎妹妹 魏老板 钱老板 阿猫 </p>
		   </div>
		</div>
		<div style="margin:20px auto;max-width:98%" class="panel panel-info">
		   <div class="panel-heading">
		      <h3 class="panel-title">环境配置</h3>
		   </div>
		   <div class="panel-body">
		      <p>操作系统  <em>linux windows</em></p>
              <p>运行环境  <em>php5.4</em></p>
              <p>必须扩展  <em>memcached</em></p>
              <p>web服务器 <em>nginx</em></p>
              <p>可写目录 <em>data目录 public目录</em></p>
		   </div>
		</div>
		<div style="margin:20px auto;max-width:98%" class="panel panel-warning">
		   <div class="panel-heading">
		      <h3 class="panel-title">产品介绍</h3>
		   </div>
		   <div class="panel-body">
		      <p>这是一款完全免费 开源的代码框架。帮助广大开发者快速的进行web开发。网页布局基于bootstrap jquery开发</p>
              <p>核心理念 controller —> api -> view</p>
		   </div>
		</div>
		

	</div>

<script>
        
    //注销账号
    $('#signout').click(function(e){
        $.post("{$__base_url}/adminDoLoginout.html",
        function(rs){
//            console.log(rs);
            if(rs.succ){
                location.href = rs.data.nextUrl;
            }else{
                $('#alert-danger').text(rs.error);
                $('#alert-danger').removeClass('hide');
            }
            
        },'json');
    });
</script>
</body>

</html>