<head>
        <meta charset="utf-8">
        <!--  为了让 IE 浏览器运行最新的渲染模式下 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--  可以让部分国产浏览器默认采用高速模式渲染页面 -->
        <meta name="renderer" content="webkit">
        <!-- 移动设备优先  user-scalable禁用缩放功能 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Ecsuper</title>
        <!-- Bootstrap -->
        <link href="{$__static_url}/site/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{$__static_url}/common/css/validate.css" rel='stylesheet' type='text/css' />

        <script src="{$__static_url}/common/js/jquery-1.11.2.js"></script>
        <script src="{$__static_url}/site/bootstrap/js/bootstrap.min.js"></script>
        <script src="{$__static_url}/common/js/jquery.self.validate.js"></script>

        <script>
            var globalPage = 1;//全局GridUrl 用于刷新gird
            var globalBaseurl = '{$__base_url}';//全局baseurl
        </script>

        <script>
            var __static_url = '{$__static_url}';
        </script>

        <style>
            a{
                cursor:pointer;
            }
        </style>
        
    </head>