<div class="navbar-header">
      <a class="navbar-brand" href="#">Ecsuper</a>
</div>
   <div class="navbar-header pull-right">
      <a class="navbar-brand" id="signout" href="#">注销</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               	宝贝管理   <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
               <li><a href="#">分类</a></li>
               <li><a href="{$__base_url}/adminBrandList.html">品牌</a></li>
               <li><a href="#">宝贝列表</a></li>
               <li><a href="#">规格属性</a></li>
               <li><a href="#"></a></li>
            </ul>
         </li>
         
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               	会员管理   <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
               <li><a href="#">会员列表</a></li>
               <li><a href="#">会员等级</a></li>
            </ul>
         </li>
         
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               	订单管理   <b class="caret"></b>
            </a>
            <ul class="dropdown-menu ">
               <li><a href="#">订单列表</a></li>
            </ul>
         </li>
        
      </ul>
   	</div>