<style>
.modal-footer {
    clear:both;
}

.pagination{
    margin:0px 0px;
}
</style>
<table class="j_table table">
    <tr>
      <td>
            <div class="panel panel-info" style="float:left;width:100%">
                <div class="panel-heading">
                    <h3 class="panel-title">可选列表</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group j_left_group" >
                        {foreach from=$leftresult.data.list item=item key=key}
                            <li value="{$item.id}" class="j_left_li list-group-item">{$item.brandname}</li>
                        {/foreach}
                    </ul>
                    <ul class="pagination pull-right">
                        <li><a class="j_pager" href="#" shref="{$request_uri}" pageno={$pre_pageno}>«</a></li>
                        <li><a class="j_pager" href="#" shref="{$request_uri}" pageno={$next_pageno}>»</a></li>
                    </ul>
                </div>
            </div>
</td>
<td class="text-center" style="vertical-align:middle">
    <div class="panel panel-info" style="float:left; margin-left:20px;width:100%">

        <div class="panel-body">
            <button type="button" class="btn btn-success j_toright" > >> </button>
            <div style="height:10px"></div>
            <button type="button" class="btn btn-success j_toleft"> << </button>
        </div>
    </div>
</td>
<td>
    <div class="panel panel-info" style="float:left; margin-left:20px;width:100%">
        <div class="panel-heading">
            <h3 class="panel-title">已选择</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group j_right_group" >
                {foreach from=$rightresult.data.list item=item key=key}
                     <li class="j_right_li list-group-item" value="{$item.id}">{$item.brandname}</li>
                {/foreach}
            </ul>
        </div>
    </div>
</td>
</tr>
</table>
<script>
$('.j_table').on('click','.j_left_li',function(e){
      if($(this).hasClass('active')){
          $(this).removeClass('active');
      }else{
          $(this).addClass('active');
      }
      
});

$('.j_table').on('click','.j_right_li',function(e){
      if($(this).hasClass('active')){
          $(this).removeClass('active');
      }else{
          $(this).addClass('active');
      }
});
</script>